version: '3'

services:
  redis:
    image: redis:alpine
    restart: unless-stopped
    volumes:
      - redis-data:/data

  caddy:
    image: caddy:alpine
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - caddy-data:/data
      - caddy-config:/config
      - ./Caddyfile:/etc/caddy/Caddyfile

  searxng:
    image: searxng/searxng
    restart: unless-stopped
    ports:
      - "8080:8080"  
    environment:
      - BASE_URL=http://localhost:8080
      - INSTANCE_NAME=MySearXNG
      - REDIS_URL=redis://redis:6379/0
    volumes:
      - ./searxng:/etc/searxng
    depends_on:
      - redis

volumes:
  redis-data:
  caddy-data:
  caddy-config:
